.git
.gitignore
.gitattributes
.editorconfig
.DS_Store
.env
.env.*
!.env.example
!.env.coolify.example

node_modules
vendor
public/build
public/hot
public/storage

storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
!storage/**/.gitignore

bootstrap/cache/*.php

tests
phpunit.xml
.phpunit.result.cache
.phpunit.cache

README.md
COOLIFY.md
docker-compose.yml
docker-compose.*.yml
Dockerfile
.dockerignore

.idea
.vscode
.fleet
.nova
.zed
.phpactor.json

Homestead.json
Homestead.yaml
auth.json
